option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: rabbits_farm.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/: static/

container_commands:
  01_install_dependencies:
    command: "pip install -r /var/app/current/requirements.txt"
  02_makemigrations:
    command: "python manage.py makemigrations"
  03_migrate_database:
    command: "python manage.py migrate"