#parentsRabbits {
    color: gainsboro;
    white-space: nowrap;
    font-size: 0.7rem
}

#cardinfoRabbits {
    width: 4rem;
    height: 4rem;
    text-align: center
}

#nameRabbits {
    white-space: nowrap;
    font-size: 0.8rem;
}