[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/s11-17-n-python-react/backend
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/s11-17-n-python-react/backend/rabbits_farm/rabbits_farm.sock rabbits_farm.wsgi:application

       
[Install]
WantedBy=multi-user.target