#parents {
    color: gainsboro;
    white-space: nowrap;
    font-size: 0.7rem
}

#cardinfo {
    width: 4rem;
    height: 4rem;
    text-align: center
}

#name {
    white-space: nowrap;
    font-size: 0.8rem;
}